{% extends 'components/base.html' %}
{% load static%}

		{% block styles %}
		<!-- Data table css -->
		<link href="{% static ''%}assets/plugins/datatable/css/dataTables.bootstrap5.css" rel="stylesheet" />
		<link href="{% static ''%}assets/plugins/datatable/css/buttons.bootstrap5.min.css"  rel="stylesheet">
		<link href="{% static ''%}assets/plugins/datatable/responsive.bootstrap5.css" rel="stylesheet" />

		<!-- Slect2 css -->
		<link href="{% static ''%}assets/plugins/select2/select2.min.css" rel="stylesheet" />
		{% endblock styles %}

						{% block body %}
						
						<!-- Row -->
						<div class="row">
							<div class="col-12">
								

								<!--div-->
								<div class="card">
									<div class="card-header">
										<div class="col-md-10 col-sm-10 ps-0">
											<h3 class="card-title">Notification List</h3>
										</div>
										<div class="col-md-2 col-sm-2 pe-0 text-end">
											<a href="/admin/db_table/addNotification" class="btn btn-success">
											Add Notification +
											</a>
										</div>
									</div> 
									<div class="card-body">
										<div class="table-responsive">
											<table class="table table-bordered text-nowrap" id="example2">
												<thead class="thead-light"> 
													<tr>
														<th class="wd-15p border-bottom-0">Title</th>
														<th class="wd-15p border-bottom-0">Content</th>
														<th class="wd-10p border-bottom-0">Date</th>
														<th class="wd-25p border-bottom-0">Action</th>
													</tr>
												</thead>
												<tbody>
													{% for bnr in Notification_detail%}
														<tr>
															<td>{{bnr.title}}</td>
															<td>{{bnr.description}}</td>
															<td>{{bnr.created_date}}</td>
															<td>
																<a title="Edit" alt="Edit" href="/admin/db_table/EditNotification/{{bnr.slug}}">
																<i class="fa fa-pencil-square-o" aria-label="fa fa-pencil-square-o"></i></a>
																												&nbsp;&nbsp;
																<a onclick="runAction('delete','{{bnr.id}}')" title="Delete" alt="Delete" href="#">
																<i class="ion-trash-a"  aria-label="ion-trash-a"></i></a>
																&nbsp;&nbsp;
																<a title="Detail" alt="Detail" href="#">
																	<i class="fa fa-bell" title="notofication" data-bs-original-title="fa fa-bell" aria-label="fa fa-bell"></i>
																</a>
															</td>
														</tr>
													{% endfor %}
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<!--/div-->
								
							</div>
						</div>
						<!-- /Row -->
						{% endblock body %}
					
		{% block scripts %}
		<!-- Data tables -->
		<script src="{% static ''%}assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
		<script src="{% static ''%}assets/plugins/datatable/js/dataTables.bootstrap5.js"></script>
		<script src="{% static ''%}assets/plugins/datatable/js/dataTables.buttons.min.js"></script>
		<script src="{% static ''%}assets/plugins/datatable/js/buttons.bootstrap5.min.js"></script>
		<script src="{% static ''%}assets/plugins/datatable/js/jszip.min.js"></script>
		<script src="{% static ''%}assets/plugins/datatable/pdfmake/pdfmake.min.js"></script>
		<script src="{% static ''%}assets/plugins/datatable/pdfmake/vfs_fonts.js"></script>
		<script src="{% static ''%}assets/plugins/datatable/js/buttons.html5.min.js"></script>
		<script src="{% static ''%}assets/plugins/datatable/js/buttons.print.min.js"></script>
		<script src="{% static ''%}assets/plugins/datatable/js/buttons.colVis.min.js"></script>
		<script src="{% static ''%}assets/plugins/datatable/dataTables.responsive.min.js"></script>
		<script src="{% static ''%}assets/plugins/datatable/responsive.bootstrap5.min.js"></script>
		<script src="{% static ''%}assets/js/datatables.js"></script>

		<!-- Select2 js -->
		<script src="{% static ''%}assets/plugins/select2/select2.full.min.js"></script>
		<script>
			function runAction(keyname,news_id){
				// alert(action)
				var form = document.createElement('form');
				document.body.appendChild(form);
				form.method = 'post';
				form.action = '/admin/db_table/NotificationAction';
				
				var input = document.createElement('input');
				input.type = 'hidden';
				input.name = 'action';
				input.value = keyname;
				form.appendChild(input);
				var input1 = document.createElement('input');
				input1.type = 'hidden';
				input1.name = 'id';
				input1.value = news_id;
				form.appendChild(input1);
				console.log(form)
				form.submit();
			}
		</script>
		{% endblock scripts %}
