{% load i18n static %}
<!-- Navbar -->
<nav
  class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top"
>
  <div class="container-fluid">
<!--    <div class="navbar-wrapper">-->
<!--      <a class="navbar-brand" href="/admin/">BetFair Dashboard</a>-->
<!--    </div>-->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      aria-controls="navigation-index"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
    </button>

    {% if user.is_authenticated %}
    <div class="collapse navbar-collapse justify-content-end">
      {% if user.is_active and user.is_staff %}
          {% url 'django-admindocs-docroot' as docsroot %}
          {% if docsroot %}
              <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
          {% endif %}
      {% endif %}
      {% if user.has_usable_password %}
      <a class="btn btn-warning" href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a>
      {% endif %}
      <a class="btn btn-danger" href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
    </div>
    {% endif %}
  </div>
</nav>