{% load static%}      
        <!-- Jquery js-->
        <script src="{% static 'assets/js/vendors/jquery.min.js'%}"></script>

        <!-- Bootstrap5 js-->
        <script src="{% static 'assets/plugins/bootstrap/js/popper.min.js'%}"></script>
        <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js'%}"></script>

        <!--Othercharts js-->
        <script src="{% static 'assets/plugins/othercharts/jquery.sparkline.min.js'%}"></script>

        <!-- Circle-progress js-->
        <script src="{% static 'assets/js/vendors/circle-progress.min.js'%}"></script>

        <!-- Jquery-rating js-->
        <script src="{% static 'assets/plugins/rating/jquery.rating-stars.js'%}"></script>