{% load static%}
                <!-- Horizontal-menu -->
                <div class="horizontal-main hor-menu clearfix">
                    <div class="horizontal-mainwrapper container clearfix">
                        <nav class="horizontalMenu clearfix">
                            <ul class="horizontalMenu-list">
                                <li>
                                    <a href="/admin/">
                                        <svg class="hor-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="26" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>Dashboard 
                                    </a>
                                   <!--  <ul class="sub-menu">
                                        <li><a href="index">Dashboard 01</a></li>
                                        <li><a href="index2">Dashboard 02</a></li>
                                        <li><a href="index3">Dashboard 03</a></li>
                                        <li><a href="index4">Dashboard 04</a></li>
                                        <li><a href="index5">Dashboard 05</a></li>
                                    </ul> -->
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="sub-icon">
                                        <svg class="hor-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>Master <i class="fa fa-angle-down horizontal-icon"></i>
                                    </a>
                                     <ul class="sub-menu">
                                        <li><a href="/admin/db_table/TeamList">Team</a></li>
                                        <li><a href="/admin/db_table/LeagueList">League</a></li>
                                        <li><a href="/admin/db_table/squardList">Squad</a></li>
                                    </ul>
                                   <!--  <div class="horizontal-megamenu clearfix">
                                        <div class="container">
                                            <div class="mega-menubg">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-12 col-xs-12 link-list">
                                                        <ul>
                                                            <li><a href="/admin/db_table/TeamList">Team</a></li>
                                                             <li><a href="/admin/db_table/LeagueList">League</a></li>
                                                            <li><a href="chat2">Chat 02</a></li>
                                                            <li><a href="chat3">Chat 03</a></li>
                                                            <li><a href="contactlist">Contact list</a></li>
                                                            <li><a href="contactlist2">Contact list 02</a></li>
                                                            <li><a href="filemanager">File Manager</a></li>
                                                            <li><a href="filemanager-list">File Manager 02</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-3 col-md-12 col-xs-12 link-list">
                                                        <ul>
                                                            <li><a href="todolist">Todo List</a></li>
                                                            <li><a href="todolist2">Todo List 02</a></li>
                                                            <li><a href="todolist3">Todo List 03</a></li>
                                                            <li><a href="userslist1">User List 01</a></li>
                                                            <li><a href="userslist2">User List 02</a></li>
                                                            <li><a href="userslist3">User List 03</a></li>
                                                            <li><a href="userslist4">User List 04</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-3 col-md-12 col-xs-12 link-list">
                                                        <ul>
                                                            <li><a href="calendar"> Calendar</a></li>
                                                            <li><a href="dragula"> Dragula Card</a></li>
                                                            <li><a href="cookies"> Cookies</a></li>
                                                            <li><a href="imagecomparison"> Image Comparision</a></li>
                                                            <li><a href="imgcrop"> Image Crop</a></li>
                                                            <li><a href="pagesessiontimeout"> Page-sessiontimeout</a></li>
                                                            <li><a href="notify"> Notifications</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-3 col-md-12 col-xs-12 link-list">
                                                        <ul>
                                                            <li><a href="sweetalert"> Sweet alerts</a></li>
                                                            <li><a href="rangeslider"> Range slider</a></li>
                                                            <li><a href="counters"> Counters</a></li>
                                                            <li><a href="loaders"> Loaders</a></li>
                                                            <li><a href="time-line"> Time Line</a></li>
                                                            <li><a href="rating"> Rating</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="sub-icon">
                                        <svg class="hor-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg>Transaction <i class="fa fa-angle-down horizontal-icon"></i>
                                    </a>
                                    <ul class="sub-menu">
                                        <!-- <li><a href="widgets1">Widgets</a></li>
                                        <li><a href="widgets2">Chart Widgets</a></li> -->
                                        <li><a href="/admin/db_table/PaymentList">Payment Details</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="sub-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="hor-icon"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>Probability <i class="fa fa-angle-down horizontal-icon"></i>
                                    </a>
                                    <ul class="sub-menu">
                                        <li><a href="/admin/db_table/ViewMatchByDate/">View Match</a></li>
                                        <li><a href="/admin/db_table/PredictionList">Prediction History</a></li>
                                        <li><a href="/admin/db_table/CsvList">CSV Upload</a></li>
                                         <li><a href="/admin/db_table/ExcelList">Excel Upload</a></li>
                                       <!--  <li><a href="advancedforms"> Advanced Forms</a></li>
                                        <li><a href="formwizard"> Form Wizard</a></li>
                                        <li><a href="wysiwyag"> Form Edit</a></li>
                                        <li><a href="formsizes"> Form Element Sizes</a></li>
                                        <li><a href="formtreeview"> Form Treeview</a></li> -->
                                    </ul>
                                </li>
                                <!-- <li>
                                    <a href="javascript:void(0)" class="sub-icon">
                                        <svg class="hor-icon" x="672" y="96" viewBox="0 0 24 24" height="24" width="24" preserveAspectRatio="xMidYMid meet" focusable="false"><path stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" d="M8 16H6a2 2 0 01-2-2v0-8a2 2 0 012-2v0h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v0-8a2 2 0 00-2-2v0h-8a2 2 0 00-2 2v8a2 2 0 002 2v0z"></path></svg>                                    Advanced UI <i class="fa fa-angle-down horizontal-icon"></i></a>
                                    <ul class="sub-menu">
                                        <li class="sub-menu-sub"><a href="javascript:void(0)">Charts</a>
                                            <ul class="sub-menu">
                                                <li><a href="chartchartist" class="slide-item">Chartjs Charts</a></li>
                                                <li><a href="chartmorris" class="slide-item"> Morris Charts</a></li>
                                                <li><a href="chartapex" class="slide-item"> Apex Charts</a></li>
                                                <li><a href="chartpeity" class="slide-item"> Pie Charts</a></li>
                                                <li><a href="chartechart" class="slide-item"> Echart Charts</a></li>
                                                <li><a href="chartflot" class="slide-item"> Flot Charts</a></li>
                                                <li><a href="chartc3" class="slide-item">C3 Charts</a></li>
                                            </ul>
                                        </li>
                                        <li class="sub-menu-sub"><a href="javascript:void(0)">Maps</a>
                                            <ul class="sub-menu">
                                                <li><a href="maps" class="slide-item">Vector Maps</a></li>
                                                <li><a href="maps2" class="slide-item">Leaflet Maps</a></li>
                                                <li><a href="maps3" class="slide-item">Mapel Maps</a></li>
                                            </ul>
                                        </li>
                                        <li class="sub-menu-sub"><a href="javascript:void(0)">Tables</a>
                                            <ul class="sub-menu">
                                                <li><a href="tables" class="slide-item">Default table</a></li>
                                                <li><a href="datatable" class="slide-item">Data Table</a></li>
                                            </ul>
                                        </li>
                                        <li class="sub-menu-sub"><a href="javascript:void(0)">Invoice</a>
                                            <ul class="sub-menu">
                                                <li><a href="invoicelist">Invoice list</a></li>
                                                <li><a href="invoice1">Invoice 01</a></li>
                                                <li><a href="invoice2">Invoice 02</a></li>
                                                <li><a href="invoice3">Invoice 03</a></li>
                                                <li><a href="invoiceadd">Add Invoice</a></li>
                                                <li><a href="invoiceedit">Edit Invoice</a></li>
                                            </ul>
                                        </li>
                                        <li class="sub-menu-sub"><a href="javascript:void(0)">Shop</a>
                                            <ul class="sub-menu">
                                                <li><a href="shop"> Products</a></li>
                                                <li><a href="shopdes">Product Details</a></li>
                                                <li><a href="cart"> Shopping Cart</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="sub-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="hor-icon"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg>                                    Elements <i class="fa fa-angle-down horizontal-icon"></i>
                                    </a>
                                    <div class="horizontal-megamenu clearfix">
                                        <div class="container">
                                            <div class="mega-menubg">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-12 col-xs-12 link-list">
                                                        <ul>
                                                            <li><a href="accordion"> Accordion</a></li>
                                                            <li><a href="alerts"> Alerts</a></li>
                                                            <li><a href="avatars"> Avatars</a></li>
                                                            <li><a href="badge"> Badges</a></li>
                                                            <li><a href="breadcrumbs"> Breadcrumb</a></li>
                                                            <li><a href="buttons"> Buttons</a></li>
                                                            <li><a href="cards"> Cards</a></li>
                                                            <li><a href="cardsimage"> Card Images</a></li>
                                                            <li><a href="carousel"> Carousel</a></li>
                                                            <li><a href="dropdown"> Dropdown</a></li>
                                                            <li><a href="footers"> Footers</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-3 col-md-12 col-xs-12 link-list">
                                                        <ul>
                                                            <li><a href="headers"> Headers</a></li>
                                                            <li><a href="list"> List</a></li>
                                                            <li><a href="mediaobject"> Media Object</a></li>
                                                            <li><a href="modal"> Modal</a></li>
                                                            <li><a href="navigation"> Navigation</a></li>
                                                            <li><a href="pagination"> Pagination</a></li>
                                                            <li><a href="panels"> Panel</a></li>
                                                            <li><a href="popover"> Popover</a></li>
                                                            <li><a href="progress"> Progress</a></li>
                                                            <li><a href="tabs"> Tabs</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-3 col-md-12 col-xs-12 link-list">
                                                        <ul>
                                                            <li><a href="tags"> Tags</a></li>
                                                            <li><a href="tooltip"> Tooltips</a></li>
                                                            <li class="title mt-3">Error Pages</li>
                                                            <li><a href="error400" class="slide-item"> 400</a></li>
                                                            <li><a href="error401" class="slide-item"> 401</a></li>
                                                            <li><a href="error403" class="slide-item"> 403</a></li>
                                                            <li><a href="error404" class="slide-item"> 404</a></li>
                                                            <li><a href="error500" class="slide-item"> 500</a></li>
                                                            <li><a href="error503" class="slide-item"> 503</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-3 col-md-12 col-xs-12 link-list">
                                                        <ul>
                                                            <li class="title">Basic Elements</li>
                                                            <li><a href="elementcolors"> Colors</a></li>
                                                            <li><a href="elementflex"> Flex Items</a></li>
                                                            <li><a href="elementheight"> Height</a></li>
                                                            <li><a href="elementsborder"> Border</a></li>
                                                            <li><a href="elementsdisplay"> Display</a></li>
                                                            <li><a href="elementsmargin"> Margin</a></li>
                                                            <li><a href="elementspaddning"> Padding</a></li>
                                                            <li><a href="elementtypography"> Typhography</a></li>
                                                            <li><a href="elementwidth"> Width</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="sub-icon ">
                                        <svg class="hor-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>                                    Pages <i class="fa fa-angle-down horizontal-icon"></i></a>
                                    <div class="horizontal-megamenu clearfix">
                                        <div class="container">
                                            <div class="mega-menubg">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-12 col-xs-12 link-list">
                                                        <ul>
                                                            <li class="title">Profile Pages</li>
                                                            <li><a href="profile1">Profile 01</a></li>
                                                            <li><a href="profile2">Profile 02</a></li>
                                                            <li><a href="profile3">Profile 03</a></li>
                                                            <li><a href="editprofile"> Edit Profile</a></li>
                                                            <li class="title mt-3">Email Pages</li>
                                                            <li><a href="emailcompose">Email Compose</a></li>
                                                            <li><a href="emailinbox">Email Inbox</a></li>
                                                            <li><a href="emailread">Email Read</a></li>
                                                            <li class="title mt-3">Pricing Pages</li>
                                                            <li><a href="pricing">Pricing 01</a></li>
                                                            <li><a href="pricing2">Pricing 02</a></li>
                                                            <li><a href="pricing3">Pricing 03</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-3 col-md-12 col-xs-12 link-list">
                                                        <ul>
                                                            <li class="title">Blog Pages</li>
                                                            <li><a href="blog">Blog 01</a></li>
                                                            <li><a href="blog2">Blog 02</a></li>
                                                            <li><a href="blog3">Blog 03</a></li>
                                                            <li><a href="blogstyles">Blog Styles</a></li>
                                                            <li class="title mt-3">Other Pages</li>
                                                            <li><a href="gallery"> Gallery</a></li>
                                                            <li><a href="faq"> FAQS</a></li>
                                                            <li><a href="terms"> Terms</a></li>
                                                            <li><a href="empty"> Empty Page</a></li>
                                                            <li><a href="search"> Search</a></li>

                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-3 col-md-12 col-xs-12 link-list">
                                                        <ul>
                                                            <li class="title">Login</li>
                                                            <li><a href="login1">Login 01</a></li>
                                                            <li><a href="login2">Login 02</a></li>
                                                            <li><a href="login3">Login 03</a></li>
                                                            <li class="title mt-3">Register</li>
                                                            <li><a href="register1">Register 01</a></li>
                                                            <li><a href="register2">Register 02</a></li>
                                                            <li><a href="register3">Register 03</a></li>
                                                            <li class="title mt-3">Forgot Passowrd</li>
                                                            <li><a href="forgotpassword1">Forgot Password 01</a></li>
                                                            <li><a href="forgotpassword2">Forgot Password 02</a></li>
                                                            <li><a href="forgotpassword3">Forgot Password 03</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-3 col-md-12 col-xs-12 link-list">
                                                        <ul>
                                                            <li class="title">Reset password</li>
                                                            <li><a href="resetpassword1">Reset Password 01</a></li>
                                                            <li><a href="resetpassword2">Reset Password 02</a></li>
                                                            <li><a href="resetpassword3">Reset Password 03</a></li>
                                                            <li class="title mt-3">Lock screen</li>
                                                            <li><a href="lockscreen1">Lock Screen 01</a></li>
                                                            <li><a href="lockscreen2">Lock Screen 02</a></li>
                                                            <li><a href="lockscreen3">Lock Screen 03</a></li>
                                                            <li><a href="construction"> Under Construction</a></li>
                                                            <li><a href="coming"> Coming Soon</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li> -->
                                <li>
                                    <a href="javascript:void(0)" class="sub-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="hor-icon"><path d="M12 2.69l5.66 5.66a8 8 0 1 1-11.31 0z"></path></svg>
                                        Manager<i class="fa fa-angle-down horizontal-icon"></i>
                                    </a>
                                    <ul class="sub-menu">
                                        <li><a href="/admin/db_table/UserList">User Manager</a></li>
                                        <li><a href="/admin/db_table/AffiliateList">Affiliate Manager</a></li>
                                        <li><a href="/admin/db_table/NewsList">News Manager</a></li>

                                        <li><a href="/admin/db_table/MessageList">Message Management</a></li>
                                        <li><a href="/admin/db_table/SubscriptionList">Subscription Manager</a></li>
                                        
                                        <li><a href="/admin/db_table/CmsList"> CMS Manager</a></li>
                                       
                                       <li><a href="/admin/db_table/BannerList">Banner Manager</a></li>
                                       <li><a href="/admin/db_table/NotificationList">Notification Manager</a></li>
                                        <!-- <li><a href="icons8">Themify Icons</a></li>
                                        <li><a href="icons9"> Typicons Icons</a></li>
                                        <li><a href="icons10">Weather Icons</a></li>
                                        <li><a href="icons11">Material Icons</a></li>
                                        <li><a href="icons12">Bootstrap 5 SVG Icons</a></li> -->
                                    </ul>
                                </li> 
                            </ul>
                        </nav>
                        <!--Nav end -->
                    </div>
                </div>
                <!-- Horizontal-menu end -->